//==========COLORS==========//
$background-main: #fff;

$theme-color: #00879c;


//==========BORDERS==========//
$form-border: 1px solid currentColor;


//==========FONT==========//
$root-font-size: 17;
$font-color: #5b5b5b;
$font-family: "Calibri", "Helvetica", "Arial", sans-serif;
