//==========COLORS==========//
$background-main: lightblue;

$theme-color: #00879c;

//==========FONT==========//
$root-font-size: 17;
$font-color: #5b5b5b;
$font-family: 'Calibri', 'Helvetica', 'Arial', sans-serif;
